nav {
    box-shadow: 0 4px 17px #0000004d;
    background-color: #fff;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    height: 70px;
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    position: absolute;
    top: 70px;
    background-color: #fff;
    width: 100%;
    gap: 30px;
}

nav ul.open {
    display: flex;
}

nav ul.closed {
    display: none;
}

nav ul li a {
    font-size: var(--font-size-5);
    color: var(--color-black);
    text-decoration: none;
}

nav ul li a:hover, nav i:hover {
    color: var(--color-blue-2);
}

nav i {
    cursor: pointer;
    font-size: 45px;
    margin: 0px 15px;
}

@media (min-width: 768px) {

    nav {
        justify-content: center;
    }

    nav ul.open, nav ul.closed {
        display: flex;
        flex-direction: row;
        position: relative;
        top: 0;
    }

    nav i {
        display: none;
    }
}